<<<<<<< HEAD
header{
    color: #FF0000;
    height: 70px;
    width: 100%;
}
=======
header {
    	background-color: #FF0000;
	height: 70px;
	width: 100%;
    }
>>>>>>> 125c146de6b8a703774ccb6500d524fbc414abf2
